* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Fira sans', sans-serif;
}

header {
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    color: #AAA;
    font-size: 36px;
    font-weight: 400;
    text-align: center;

    strong {
      color: #313131;
    }
  }
}

.content-wrap {
  display: flex;

  aside {
		flex: 1 1 250px;
		max-width: 250px;
		padding-right: 16px;

		nav {
			padding-left: 16px;
			padding-right: 16px;

			h3 {
				color: #313131;
				font-size: 24px;
				margin-bottom: 16px;
			}

			a {
				display: block;
				padding: 8px 16px;
				text-align: left;

				color: #888;
				font-size: 16px;
				margin-bottom: 16px;

				background-color: #EEE;
				border-radius: 999px;
				text-decoration: none;

				transition: 0.4s;

				&:hover {
					background-color: #313131;
					color: #AAA;
				}
			}
		}
	}

  main {
    flex: 1 1 0%;
    padding: 0px 16px;

    .main-head {
      display: flex;
      justify-content: flex-end;

      .search-box {
        display: flex;
        justify-content: flex-end;
        flex: 1 1 0%;

        input {
          appearance: none;
          background: none;
          outline: none;
          border: none;

          display: block;
          width: 100%;
          max-width: 400px;
          padding: 16px;
          border-radius: 999px;
          background-color: #EEE;

          transition: 0.4s;

          ::placeholder {
            color: #888;
          }

          &:focus, &:valid {
            background-color: #313131;
            color: #FFF;
          }
        }
      }
    }
  }
}