* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

* ::-webkit-scrollbar {
  display: none;
  width: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background: #1a1a1a;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-animation: scrollbar 5s linear infinite;
          animation: scrollbar 5s linear infinite;
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

@-webkit-keyframes scrollbar {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes scrollbar {
  0%,
  100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-container a {
  width: 200px;
  height: 45px;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#f40388), color-stop(#a13271), color-stop(#ffeb3b), to(#f40388));
  background: linear-gradient(90deg, #f40388, #a13271, #ffeb3b, #f40388);
  background-size: 400%;
  margin: 0 10px;
  border-radius: 30px;
}

.button-container a:hover {
  -webkit-animation: buttonBg 8s linear infinite;
          animation: buttonBg 8s linear infinite;
}

@-webkit-keyframes buttonBg {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes buttonBg {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

header {
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1 {
  color: #aaa;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

header h1 strong {
  color: #d9116e;
}

.header-home {
  padding-top: 250px;
}

.content-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.content-wrap main {
  margin: 0 auto;
}

.content-wrap main .main-head form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrap main input {
  border: none;
  border-radius: 50px;
  width: 500px;
  height: 45px;
  margin-left: 15px;
  padding: 16px;
  outline: none;
  font-size: 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 400ms;
  transition: 400ms;
  background: #aaa;
}

.content-wrap main input:hover {
  background: #d9116e;
}

.content-wrap main input:focus {
  background: #d9116e;
}

.content-wrap aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  max-width: 300px;
  padding-right: 16px;
}

.content-wrap aside nav {
  padding-left: 16px;
  padding-right: 16px;
}

.content-wrap aside nav .top-anime-container div {
  position: fixed;
}

.content-wrap aside nav .top-manga-container div {
  position: fixed;
}

.content-wrap aside nav .top-manga-container div a {
  width: 235px;
}

.content-wrap aside nav h3 {
  color: #d9116e;
  font-size: 24px;
  margin-bottom: 16px;
}

.content-wrap aside nav a {
  display: block;
  padding: 8px 16px;
  text-align: left;
  color: #eee;
  font-size: 16px;
  margin-bottom: 16px;
  background-color: #444;
  border-radius: 999px;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content-wrap aside nav a:hover {
  background-color: #313131;
  color: #aaa;
}

.anime-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32px;
}

.anime-list .anime-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
  padding: 16px 8px;
}

.anime-list .anime-card:hover .anime-title {
  visibility: visible;
}

.anime-list .anime-card a {
  text-decoration: none;
}

.anime-list .anime-card figure {
  display: block;
  margin-bottom: 16px;
}

.anime-list .anime-card figure img {
  display: block;
  width: 213%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.anime-list .anime-card figure img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.anime-list .anime-card .anime-title {
  background: #222;
  width: 250px;
  z-index: -1;
  display: block;
  visibility: hidden;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

.anime-list .anime-card .anime-title h3 {
  color: #d9116e;
  padding: 10px;
  width: 250px;
}

.container-arrow {
  margin-top: -85px;
  margin-bottom: 100px;
  position: fixed;
}

.container-arrow .arrow-back {
  font-size: 24px;
  text-align: center;
  padding: 8px;
  width: 50px;
  background: #d9116e;
}
/*# sourceMappingURL=main.css.map */