$pink: #d9116e;
$pink-secondary: #d9116e;
$bg-color: #1a1a1a;
$bg-color-secondary: #313131;
$gray: #aaa;
$gray-dark: #222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fira sans", sans-serif;

  ::-webkit-scrollbar {
    display: none;
    width: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

body {
  background: $bg-color;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: scrollbar 5s linear infinite;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(5px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(5px);
  }
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

@keyframes scrollbar {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

header {
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    color: $gray;
    font-size: 36px;
    font-weight: 400;
    text-align: center;

    strong {
      color: $pink-secondary;
    }
  }
}

.content-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  main {
    margin: 0 auto;

    .main-head {
      form {
        display: flex;
        justify-content: center;
      }
    }

    input {
      border: none;
      border-radius: 50px;
      width: 500px;
      height: 45px;
      margin-left: 15px;
      padding: 16px;
      outline: none;
      font-size: 16px;
      box-shadow: none;
      transition: 400ms;
      background: $gray;

      &:hover {
        background: $pink-secondary;
      }

      &:focus {
        background: $pink-secondary;
      }
    }
  }

  aside {
    flex: 1 1 300px;
    max-width: 300px;
    padding-right: 16px;

    nav {
      padding-left: 16px;
      padding-right: 16px;
      position: fixed;

      h3 {
        color: $pink;
        font-size: 24px;
        margin-bottom: 16px;
      }

      a {
        display: block;
        padding: 8px 16px;
        text-align: left;

        color: #eee;
        font-size: 16px;
        margin-bottom: 16px;

        background-color: #444;
        border-radius: 999px;
        text-decoration: none;

        transition: 0.4s;

        &:hover {
          background-color: $bg-color-secondary;
          color: $gray;
        }
      }
    }
  }
}

.anime-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 32px;

  .anime-card {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 16px 8px;

    a {
      text-decoration: none;
    }

    figure {
      display: block;
      margin-bottom: 16px;

      img {
        display: block;
        width: auto;
        height: 350px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
        transition: all 200ms;

        &:hover {
          transform: scale(1.03) translateY(-10px);
        }
      }
    }

    h3 {
      color: $gray;
      padding-top: 15px;
      width: 250px;
    }
  }
}
